<header>
    <style>
        span {
            display: block;
            text-align: center;
            width: 100%;
            color:#60A5FA;
        }
        nav{
            border-bottom: 1px solid;  
            padding: 14px; 
            font-size: 18px;
        }
    </style>
    <nav>
        <a href = '/'>Home</a> |
        <a href = '/today'>Today</a> |
        <a href = '/weekly'>Week View</a> |
        <a href = '/edit'>Add Task</a> |
        <a href = '/weather'>Weather</a>
        <span><strong>My Day, My Way</strong></span>
        
    </nav>
</header>